html  
	head
		title Node's information page
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
	body
		.container
			div
				br
				a(href="/")
					button.btn.btn-primary 
						|  Node Information
				a(href="/data")
					button.btn.btn-primary 
						|  Endpoint Manager
				a(href="/find")
					button.btn.btn-primary 
						|  Find Value
			p
				.panel.panel-primary
					.panel-heading 
						h3 KademliaGolf - Node information:
					.panel-body 
						h4 
							b Node id: 
							| #{node.id}
						h4
							b Node port: 
							| #{node.port}
						h4
							b IP: 
							| #{node.ipAddr}
						hr
						div
							b Buckets
							p
								each bucket in buckets
									div.col-md-3
										.panel.panel-success
											.panel-heading Bucket id: #{bucket.index}
											.panel-body 
												p Nodes in this bucket:
													each node in bucket.nodesList
														div
															a(href=node.ipAddr +':' + node.port + "/")
																button.btn.btn-block.btn-primary 
																	span.glyphicon.glyphicon-hdd
																	|  Id: #{node.id} - Port: #{node.port}
														p